<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
>

    <!-- 声明String Bean，纳入Spring ioc管理-->
    <bean id="indexService" class="com.faintdream.spring6.service.IndexService"/>
    <bean id="logAspectj" class="com.faintdream.spring6.aspectj.LogAspectj"/>

    <!-- aop的配置-->
    <aop:config>
        <!-- 配置切点-->
        <aop:pointcut id="sPointcut" expression="execution(* com.faintdream.spring6.service..*(..))"/>

        <!-- 配置切面-->
        <aop:aspect ref="logAspectj">
            <aop:around method="aroundAdvice" pointcut-ref="sPointcut"/>
            <aop:before method="beforeAdvice" pointcut-ref="sPointcut"/>
        </aop:aspect>
    </aop:config>
</beans>